<div class="container">

  <section>
    <%= turbo_stream_from "ws:leaderboard" %>
    <%= render partial: "leaderboard" %>
  </section>

  <section>
    <%= render partial: "week_controls" %>
    <%= render partial: "my_selection_summary" %>
    <%= render partial: "my_week_matchups" %>
  </section>

</div>